*{
    box-sizing: border-box;
}

    body {
        font-family: "Nunito", sans-serif;
        color:#fff;
        line-height: 1.5;
        margin: 0;
    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2em;


    }
    /* headings */

    #company-name {
     color: #DEC9E9;
     font-size: 1.5rem;

    }



    #header {
        background-color: black;
    
    }

    #header >div {
        display: flex; 
        justify-content: space-between;
        align-items: center;
       
    }
 

    

     #intro,
     #fan-fav,
     #team {
        padding: 4em 0;
     }

    nav ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
    }


    nav ul li a:link,
    nav ul li a:visited {
        text-decoration: none;
        color: #DEC9E9; 

    }

    nav ul li a:hover,
    nav ul li a:focus{
        color: #fff;
    }

    #hero-banner {
        height: 60vh;
        background-color: #725185;
        background-image: url(../images/ice-cream-cones.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;

    }

    #intro {
        background-color: #7251B5;
    }
    #intro p {
        
        max-width: 50%;
    }

    #fan-fav {
        background-color: black;
        color: #DEC9E9;
        margin-bottom: 0;
    }

    #fan-fav ol {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    #fan-fav li {
        width: 50%;
        padding-right: 15%;

    }

    #team {
        background-color: #7251B5;

    }

    #team h2,
    #team .team-intro {
        max-width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    .team-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .team-grid article {
        background-color: #6647a6;
        border-radius: 20px;
        padding: 2em 0;
        text-align: center;
        
    }
    .team-grid article img{
        width: 80px;
        border-radius: 50%;
        filter: grayscale(100%)
    }

    .team-grid h3{
        text-transform: uppercase;
        
    }
    .team-grid p{
        margin-bottom: 0;
    }

    footer {
        background-color: black;
        text-align: center;
    }